body { background-color: #FFFFFF }

a:link { color: #577993; }
a:active{ color: #577993; }
a:visited { color: #577993;  } 
a:hover  { color: #CCCCCC;  } 

.browseHeader { background-color: #577993; }
.browseHeaderData {color: #FFFFFF; font-weight: bold; text-align: center; vertical-align: middle;}
.browseHeaderEntries {color: #FFFFFF; font-weight: bold; text-align: center; vertical-align: middle;}
.browseHeaderNum {color: #FFFFFF; font-weight: bold; text-align: center; vertical-align: middle;}
.browseHeaderYear {color: #FFFFFF; font-weight: bold; text-align: center; vertical-align: middle;}
.browseHeaderMark {color: #FFFFFF; font-weight: bold; text-align: center; vertical-align: middle;}
.browseEntry { background-color: #FFFFFF; }
.browseSubEntry  { background-color: #FFFFFF }
.browseEntryData { background-color: #FFFFFF; }
.browseEntryEntries { text-align: center; }


.bibItemsHeader { background-color: #577993; }
.bibItems {color: #FFFFFF; font-weight: bold }
