body {background-image: url("/screens/gardens_background.jpg"); background-position: center bottom; background-repeat: repeat-x;}

.content {
    width:952px;
    margin-left:auto;
    margin-right:auto;
    margin-top:37px;
    position:relative;
    padding:0;
}

#footer {
    bottom:0;
    height:250px;
    background-color:#1D3B04;
}

.pageFooterAddress{
    float:left;
    padding: 0 16px;
    color:#D1DDBC;
}

.pageFooterColumn {
    border-right: 1px solid #767D64;
    float:left;
    height:170px;
    padding: 0 16px;
    width: 110px;
    color:#D1DDBC;
}

.pageFooterColumn li {
    list-style-type:none;
}

.pageFooterColumn p {
    color:#FFFFFF;
    border-bottom: 1px solid #767D64;
    margin-bottom:7px;
    padding-bottom:7px;
}

.pageFooterColumn ul {
    padding-left:0;
    margin-top:0;
}

#shadowBackground {
    background-image: url("/screens/shadowBackground.gif");
    background-repeat: repeat-x;
    width:100%;
    height: 10px;
}

.topLogoSmall img {
    margin-left:10px;
}

#topNavigation {
    background-color:#C9D7B2;
    padding: 1em;
    width:40em;
}

#topNavigation ul {
    list-style-type:none;
}

#topNavigation li {
    display:inline;
    padding: 0 .5em;
    border-right:1px solid black;
}

#topNavigation #lastItem {
    border:none;
}