a img {border:none;}
a:link { color: #002A5C; }
a:active { color: #002A5C; }
a:visited { color: #002A5C; }
a:hover  { color: #002A5C; }
body {font: 12px Verdana,Arial,Helvetica,sans-serif; background-color:#91B0D5; margin:0;}
body div {padding:0px}
label {
    display:inline-block;
}
.box {background: #F0E9D6; border: 2px solid #DDCA85; color:#202020; margin: 0;}
.allContent {background: url("/screens/history_background.gif") repeat-x scroll left top; width:100%; min-height:301px; }
#bibDisplayBody {
    background: #FCFAF4;
}
.bibDisplayContentMain, .resourceDisplayContentMain {
    padding-left: 1.5em;
}
.bibRecordLinkText {
    font-size:smaller;
}
.bibSearch { background: url("tile_search_brown_inverse.jpg") repeat-x scroll left bottom transparent }
.bibSearchHistory, .resourceHistory { position: inherit;}
.briefcitCell, .browseEntry, .browseSubEntry {
    background: #fefdf8;
}
.briefcitDetail, .briefcitAuthDetail {
    padding:0 0 0 20px;
    width:75%;
}
.briefcitMedia, .bibMedia, .briefcitResourceMedia, .briefcitProgramMedia, td.browseEntryMedia, td.browseSubEntryMedia {
    margin-top:1em; margin-left:auto;margin-right:auto;
}
.briefcitRight {
    display:inline;
    float:left;
    margin-bottom:30px;
    padding:0;
    text-align:center;
    width:100px;
}
.briefcitRow {
    padding-left:0%;
}

.briefcitYear {
    text-align:center;
    margin-top:1.5em;
    font-size:1.2em;
}

.browseHeaderData, .browseHeaderEntries, .browseHeaderMark, .browseHeaderNum, .browseHeaderYear, .browseHeaderMedia { background: #DDE1E4;}

.browseSearchtool {
    background: url("tile_search_brown.jpg") repeat-x scroll left bottom transparent
}

.browseSuperEntry {
    display:none;
    font-size:1.35em;
}
.buttonText {
    1em;
}
.clear {height:0px;}
h2, .pageContentInner h2, #rightColumn lh {
    color:#542929;
    font-family:georgia,serif;
}
h2, .pageContentInner h2, #rightColumn lh {
    font-size:1.4em;
    margin: 0 0 12px;
}
#exampleText {
    margin: 2em 0 1em;
    font-size: 0.9em;
}
#exampleText hr {
    color:#DCD5C3;
}
.firstItem {margin-left:-2.25em;}
.form2Part, .form1Part, .mylistsSavePage form, .form3Part, .form3PartBelow{
    background: #fcfaf4;
}
.formsTogether {
    width:inherit;
}
.gbs {display:none;}
.gbs img {
    border: 0pt none;
    vertical-align: middle;
    margin:6px 0;
}
.gbs a {
    text-decoration:none;
}
.hiddenSearch {
    display:none;
}
#innreach {display:none;}
#left {float: left; margin: 0; width: 640px;}
.innerContent, .topLogoContent {width:960px; margin-left: auto; margin-right: auto; position: relative;}
.innerContent {text-align: left; background-color: #EFE8D1; min-height:300px;}
.innerContentWrapper {background: url("/screens/history_wrapper.png") repeat-y scroll left top transparent; width:970px; margin-left:auto; margin-right:auto;}
#logo {position:absolute; top:20px;}
#mainColumn {
    width:680px;
    float:right;
}
.mainMenu {background: url("/screens/history_top.jpg") repeat-x scroll left top #DDCA85;} 
.mainMenuSrchText ul {
    list-style-type:none;
    padding-left:2.25em;;
}
.navigationRow select, .navigationrow option {
    position:relative;
    right:inherit;
    top:inherit;
}
td.odd, td.highlight, tr.odd {
    background: #FCFAF4;
}

#opacMenu #rightColumn {
    display:none;
}
.pageContentInner {
    margin-top:25px;
}
#right {float: right; width: 270px;}
#rightColumn {
    width: 220px;
    float:right;
    background:#FCFAF4;
    border:2px solid #F3EBD3;
    margin:35px 10px;
    padding:10px;
}
#rightColumn lh {
    font-size:16px;
}
#rightColumn li {
    list-style-type:none;
    margin:5px 8px;
}
#rightColumn a {
    text-decoration:none;
}
#search {padding: 25px 36px 0; }
#search a {color: #80929F;}
#search a:hover {color: #330000;}
#search .example {font-size:.9em; margin-left:10px; margin-top:4px;}
#search .limits {line-height:14px; margin-top:11px; font-size:.9em; width:500px;}
#search .options {color: #330000; font-size:14px; font-weight:bold;}
#search .searchBox {margin-top: 10px;}
#search .tip {margin-top: 12px;}
#slogan {position:absolute; top:25px; right:0px;}
.topLinks {
    margin-top:105px;
}
#topLinksList{
    font-size:1.1em;
}
#topLinksList a:link, #topLinksList a:visited{
    color:white;
}
#topLinksList a:active, #topLinksList a:hover{
    background:none;
}
.topLogo {background: url("http://collections.mohistory.org/search/sites/all/themes/mhmth/images/header/rotate.php") no-repeat scroll center top transparent; height:135px; text-align: center; width: 100%; border-bottom: 7px solid #002A5C;}
.topLogo, #skipNav, .clear {padding:0;}
#webaddress {display:none;}
#welcome {background:#dde1e4; border-bottom:1px solid #BFB184; border-right: border-bottom:1px solid #BFB184; height:156px; padding: 5px 18px; }
#welcome a {color:black;}
