body {
    background-image: url("/screens/gardens_background.jpg");
    background-position: center top;
    background-repeat: repeat-x;
    background: #5d793c url("/screens/gardens_background.jpg") center top repeat-x;
    font-family:Georgia,BemboStdRegular,Serif;}
    
body div {
    padding:0;
}

h1 {
    font-size: 23px;
    margin: 7px 60px;
    color: #1D3B04;
    
}

.bibItems table, .bibItems th, .bibItems tr, .bibItems td {
    border: 2px #DCE2D4 ridge;
    text-align:center;
    color:#1D3B04;
}

.bibItems .bibItemsHeader th {
    padding: 5px 8px;
    background-color:#C0CAB2;
    font-size:1em;
    
}

.bibItems td {
    background-color:#E9ECE3;
}

.briefcitItems {
    border:none;
    width:100%;
}

.briefcitItemsMain {
    width:100%;
    margin-bottom:1em;
}

.browseHeaderData {
    background-color: #E9ECE3;
}

.content {
    width:952px;
    margin-left:auto;
    margin-right:auto;
    margin-top:37px;
    position:relative;
    padding:0;
    min-height:500px;
}

.form1Part {
    margin:0;
}

#footer {
    height:250px;
    background-color:#1D3B04;
    width:930px;
    margin: 0 auto 40px;
}

#footerColumns {
    margin-left:auto;
    margin-right:auto;
    width:700px;
}

.fullRecord {
    margin-top:1em;
}

.pageFooterAddress{
    float:left;
    padding: 9px 16px;
    color:#D1DDBC;
}

.pageFooterAddress h4{
    margin-top: 0;
    display: inline-block;
}

.pageFooterAddress img{
    margin-right: 8px;
}

.pageFooterAddress p{
    margin:0;
}

.pageFooterColumn {
    border-right: 1px solid #767D64;
    float:left;
    height:170px;
    padding: 0 16px;
    width: 110px;
    color:#D1DDBC;
}

.pageFooterColumn li {
    list-style-type:none;
}

.pageFooterColumn p {
    color:#FFFFFF;
    border-bottom: 1px solid #767D64;
    margin-bottom:7px;
    padding-bottom:7px;
}

.pageFooterColumn ul {
    padding-left:0;
    margin-top:0;
}

#shadowBackground {
    background-image: url("/screens/shadowBackground.gif");
    background-repeat: repeat-x;
    width:100%;
    height: 10px;
}

.topLogoSmall img {
    margin-left:10px;
}

#topNavigation {
    background-color:#C9D7B2;
    padding: .5em;
    width:35em;
    color: #285407;
    font-size:1.1em;
}

#topNavigation ul {
    list-style-type:none;
    padding:0;
}

#topNavigation li {
    display:inline;
    padding: 0 .5em;
    border-right:1px solid #285407;
}

#topNavigation #lastItem {
    border:none;
}