a img {border:none;}

.browseScreen {background-color:#FFFFFF;}

.browseSearchtool, .bibSearch {background: url("tile_search_yellow.jpg") repeat-x scroll left bottom transparent;}

.browseSearchtool select, .browseSearchtool input { font-size:1.5em; }

.topLogo {background:url('/screens/nursing_arc_cropped.jpg') no-repeat; height:450px;}

#goldfarb {margin:8px;}

.form2Part, .form1Part, .mylistsSavePage form {background-image:none; background-color:#ffffe4;}

.fullPage {background:url('/screens/nursing_gradient.jpg') repeat-y blue;}

.mainSearch .form1Part, .mainMenuContent {width: 700px;}

.minHeight {background:url('/screens/nursing_gradient.jpg') repeat-y blue;}

.pageContent {margin-top:-300px; width:75%; margin-left:auto;margin-right:auto;}

.pageContent #bibDisplayBody  {background:#FFFFFF;padding-bottom:15px;}

.navigationRow{width:100; margin-left:auto; margin-right:auto; background-color:#FFFFFF;}

#searchscope, #scopeMenu, #locationMenu {display:none;}

td.odd { background:#fffff2; }

#topLinksList a:link, #topLinksList a:visited  { color: #FFFFFF;}

#topLinksList a:active,#topLinksList a:hover   {background:none; color:#FFFFFF;}

